.header {
  background-color: rgb(243, 163, 163);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.navbar {
  display: flex;
  gap: 2rem;
  font-size: 3rem;
}

.logo {
  width: 300px;
}
