* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --clr-main: #282628fe;
  --clr-main-light: #efdaf9;
}

.container {
  max-width: 1140px;
  padding-inline: 1.5rem;
  margin: 0 auto;
  padding-block: 2rem;
}

.main-title {
  margin-top: 2rem;
}

.navbar {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-main);
  border-bottom: 3px solid rgb(160, 0, 0);
}

.logo {
  text-decoration: none;
  color: black;
}

.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-link:hover {
  text-decoration: underline;
}

.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-block: 2rem;
}

.producto {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
}

.producto > div {
  padding: 1rem;
  background-color: #ff000057;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.producto > img {
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
}

.producto .ver-mas {
  text-decoration: none;
  background-color: var(--clr-main);
  color: white;
  padding: .5rem;
  width: max-content;
  border-radius: .5rem;
  transition: .2s;
}

.producto .ver-mas:hover {
  background-color: black;
  color: white;
}

.producto-detalle {
  padding-block: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.producto-detalle img {
  width: 100%;
}

.producto-detalle-info h3 {
  font-size: 2rem;
}

.categoria {
  font-size: .8rem;
  color: #424242;
  margin-top: 1rem;
}

.precio, .stock {
  font-size: 2rem;
  margin-top: 2rem;
  font-weight: 600;
}

.imagen{
  height: 300px;
}

.item-count {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.item-count button, .agregar-al-carrito, .enviar {
  background-color: var(--clr-main);
  border: 0;
  width: 2rem;
  height: 2rem;
  color: white;
  border-radius: .5rem;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  border: 2px solid var(--clr-main);
  transition: .2s;
}

.item-count button:hover, .agregar-al-carrito:hover, .enviar:hover {
  background-color: white;
  color: black;
}

.agregar-al-carrito, .enviar {
  width: auto;
  height: auto;
  margin-top: 1rem;
  padding: 1rem;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: flex-start;
}

.formulario input {
  padding: .5rem;
  width: 18rem;
  border-radius: .5rem;
  border: 2px solid black;
}

.formulario input:focus {
  outline: 0;
  border: 2px solid var(--clr-main);
  outline: 2px solid var(--clr-main);
}


.footer{
  padding: 2rem;
  background-color: #282628fe;
}

.main-title{
  text-transform: capitalize;
}

/* .contador{
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.boton-contador{
  padding-inline: 10px;
  padding-block: 4px;
} */

.cart-widget{
  display:inline-block;
}

.contador__cart-widget{
  background-color: red;
  border-radius: 100%;
  text-align: center;
  color: #efdaf9;

}

.item-carga, .error{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.active{
  color: rgb(231, 51, 51)
}

.imagen-carrito{
  height: 150px;
}

.container-checkout, .container-item{
  height: 75vh;
}


.btn-checkout{
  background-color: var(--clr-main);
  border: 0;
  padding: 15px;
  width: 6rem;
  height: 2rem;
  color: rgba(255, 255, 255, 0.804);
  border-radius: .5rem;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
  border: 2px solid var(--clr-main);
  transition: .2s;
  margin: 10px;
  text-decoration: none;
}

.btn-checkout:hover{
  background-color: white;
  color: black;
}
